pre {
    counter-reset: lineNumbers;
    -moz-tab-size: 4.5; /* Firefox 4+ */
    -o-tab-size: 4.5; /* Opera 11.5 & 12.1 only */
    tab-size: 4.5; /* Chrome 21+, Safari 6.1+, Opera 15+ */
}

/* https://www.longren.io/wrapping-text-inside-pre-tags/ */
pre.softwrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

code.newline {
    counter-increment: lineNumbers;
}

code.newline::before {
    content: counter(lineNumbers) "";
    display: inline-block;
    width: 2em;
    margin-right: 0.5em;
    text-align: right;
    padding: 0 0.5em 0 0;
    color: black;
}

/* https://material.io/resources/color/ */
.highlighted-span {
    background-color: #90caf9; /*#aed581;*/
    cursor: pointer;
}

.selected-span {
    background-color: #e3f2fd; /*#dcedc8;*/
    cursor: pointer;
}

.active-span {
    background-color: #ffb74d; /*#ffcc80;/*#ffaa60;*/
    cursor: pointer;
}

.grouped-span {
    background-color: #ffe0b2; /*#ffd0a8;*/
    cursor: pointer;
}

.ignored-span {
    color: white;
}

.ignored-span:not(.grouped-span):not(.active-span):not(.selected-span):not(.highlighted-span) {
    color: lightgrey;
}

.invisible-span {
    visibility: hidden;
}
