/* Make text more readable */
body, h1, h4, h5 {
    font-family: inherit;
}

/* Don't underline title */
.block-title a {
    color: #000;
    text-decoration: none;
}

#sub_names {
  height: 3%;
}

#diff {
  height: 97%;
}

#left {
  overflow-y: scroll;
  left: 0;
  border: 1px solid black;
  border-top: 0;
  max-width: 50%;
}

#right {
  overflow-y: scroll;
  right: 0;
  border: 1px solid black;
  border-left: 0;
  border-top: 0;
  max-width: 50%;
}

/* style code samples */
.submission-file {
    border-top: 1px solid black;
}

/* highlighted code fragments */
.match {
    color: crimson;
    font-weight: bold;
}

.distro {
    color: silver;
}

.highlight {
    background-color: yellow;
}
