<!DOCTYPE html>
<meta charset="utf-8">
<style>

.links line {
  stroke: #aaa;
}

.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

</style>
<svg width="960" height="600"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script>

var graph = {{graph_info|tojson}};

var radius = 5;

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody())
    .force("center", d3.forceCenter(width / 2, height / 2));


var n_groups = Math.max.apply(0, graph.nodes.map(node => +node.group));

var color = d3.scaleSequential().domain([0, n_groups]).interpolator(d3.interpolateViridis);

var g_link = svg.append("g").attr("class", "links");

var g_node = svg.append("g").attr("class", "nodes");

function ticked(links, nodes) {
  nodes
      .attr("cx", function(d) { return d.x = Math.max(radius, Math.min(width - radius, d.x)); })
      .attr("cy", function(d) { return d.y = Math.max(radius, Math.min(height - radius, d.y)); });

  links
      .attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });
};

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

function cutoff(n) {
  let link_data = graph.links.filter(d => (+d.value) > n);
  let node_ids = new Set(link_data.map(d => d.source.id).concat(link_data.map(d => d.target.id)));
  let node_data = graph.nodes.filter(d => node_ids.has(d.id));

  update(link_data, node_data);
}

function update(link_data, node_data) {
  var links = g_link.selectAll("line").data(link_data);

  links.enter().append("line")
      .attr("stroke-width", 2);

  links.exit().remove();

  var nodes = g_node.selectAll("circle").data(node_data);

  nodes.enter().append("circle")
    .style("fill", d => color(+d.group))
    .attr("r", radius)
    .call(d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended))
    .on("click", (d) => console.log(d.id));

  nodes.enter().append("title")
      .text(function(d) { return d.id; });

  nodes.exit().remove();

  let all_links = g_link.selectAll("line");
  let all_nodes = g_node.selectAll("circle");

  simulation
      .nodes(node_data)
      .on("tick", () => ticked(all_links, all_nodes));

  simulation.force("link")
      .links(link_data)
      .distance(d => (+d.value) * 10);

  simulation.alphaTarget(0.3).restart();
  setTimeout(() => simulation.alphaTarget(0).restart(), 1000);
}

update(graph.links, graph.nodes)

</script>
