<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% for style in css %}
            <style>{{style | safe}}</style>
        {% endfor %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row sticky-top">
                <div id="title" class="col bg-dark text-light no-gutter">
                    <h4 class="align-text-bottom">compare50</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-8 table-responsive" id="index"></div>
                <div class="col-4" id="cluster">
                    <div id="cluster_graph"></div>
                    <div id="slider"></div>
                </div>
            </div>
        </div>
        <script>
            var GRAPH = {{graph_info|tojson}};
        </script>
        {% for script in js %}
            <script>
                {{script|safe}}
            </script>
        {% endfor %}
    </body>
</html>
