<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% for style in css %}
            <style>
                {{style|safe}}
            </style>
        {% endfor %}
    </head>
    <body>
        <div class="wrapper" id="page">
            <nav class="bg-dark text-center" id="sidebar">
                <div class="brand text-light">
                    <h4><a href="index.html" class="index-link"><b>compare50</b></a></h4>
                </div>
                <br/>
                <div class="text-light id" id="{{id}}">{{id}} / {{max_id}}</div>
                <div class="btn-group" role="group" aria-label="NextPrev" id="next_prev_match">
                    <button type="button" class="btn btn-outline-light prev_match" id="prev_match" {{'disabled' if id <= 1 else ''}}><<</button>
                    <button type="button" class="btn btn-outline-light next_match" id="next_match" {{'disabled' if id >= max_id else ''}}>>></button>
                </div>
                <div class="btn-group-vertical" role="group" aria-label="Views" id="passes">
                {% for pass_ in passes %}
                    <button type="button" class="btn btn-outline-light view_selector" id="{{pass_.__name__}}selector" title="{{pass_.__doc__}}">{{pass_.__name__}}</button>
                {% endfor %}
                </div>
                <div id="group_nav">
                  <button type="button" class="btn btn-outline-light next_group" id="next_group">next</button>
                  <div class="text-light" id="group_counter"></div>
                </div>
            </nav>
            <div id="content">
                {% for match in matches %}
                    {{match|safe}}
                {% endfor %}
            </div>
        </div>

        <script>
            var DATA = {{data|tojson|safe}};
        </script>

        {% for script in js %}
            <script>
                {{script|safe}}
            </script>
        {% endfor %}
    </body>
</html>
