<div id="{{name}}" class="container-fluid h-100 view {{name}}">
    <div class="row sticky-top bg-dark text-light">
        {% for sub, side in (sub_a, "left"), (sub_b, "right") %}
            <div class="sub_name" id="{{name}}{{side}}_header">
                {% for file in sub.files %}
                    <h5 title="{{sub.path}}">{{sub.name}} - {{file.name}} ({{sub.percentage}}%)</h5>
                {%- endfor -%}
            </div>
        {% endfor %}
    </div>
    <div class="row diff">
        {% for sub, side in (sub_a, "left"), (sub_b, "right") %}
            <div class="col-sm-6 col-2 side {{side}}" id="{{name}}{{side}}">
                {% for file in sub.files %}
                    <div class="submission-file">
                            <pre>
                                {%- set ns = namespace(is_newline=true) -%}
                                {%- for frag in file.fragments -%}
                                    <code class="fragment{{' text-muted' if frag.is_ignored else ''}}" id="{{frag.id}}">
                                        {%- for line in frag.content -%}
                                            <code class="line{{' newline' if ns.is_newline else ''}}">{{line}}</code>
                                            {%- set ns.is_newline = line.endswith('\n') -%}
                                        {%- endfor -%}
                                    </code>
                                {%- endfor -%}
                            </pre>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
