.links line {
    stroke: #aaa;
}

.nodes rect {
    pointer-events: all;
    /* stroke: none; */
    stroke-width: 5px;
    cursor: pointer;
}

.d3slider svg {
    display: block;
    margin: auto;
}