html,
body {
    height: 100%;
    margin: 0;
    font-family: Proxima-Nova, sans-serif;
}

pre {
    font-family: Consolas, monospace;
}

.column-box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.row-box {
    display: flex;
    flex-flow: row;
    height: 100%;
}
/*
.column-box .row, .row-box .row {
    border: 1px solid red;
} */

.column-box .row.auto, .row-box .row.auto {
    flex: 0 1 auto;
}

.column-box .row.fill, .row-box .row.fill {
    flex: 1 1 auto;
}

code.newline {
    counter-increment: line_numbers;
}
code.newline::before {
    content: counter(line_numbers) "";
    display: inline-block;
    width: 2em;
    margin-right: 0.5em;
    text-align: right;
    padding: 0 0.5em 0 0;
    color: black;
}

.btn-group button {
    text-align: center;
    background-color: #eee;
    border: 1px solid #ddd;
    color: black;
    padding: 10px 0px; /* Some vertical padding */
    cursor: pointer; /* Pointer/hand icon */
}

.btn-group button:hover {
    background-color: #ddd; /* Add a background color on hover */
}

.btn-group.vertical button {
    display: block; /* Make the buttons appear below each other */
}

.btn-group.vertical button:first-child {
    border-radius: 5px 5px 0px 0px;
}

.btn-group.vertical button:last-child {
    border-radius: 0px 0px 5px 5px;
}

.btn-group.vertical button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group.horizontal button {
    float: left; /* Float the buttons side by side */
}

.btn-group.horizontal button:first-child {
    border-radius: 5px 0px 0px 5px;
}

.btn-group.horizontal button:last-child {
    border-radius: 0px 5px 5px 0px;
}

.btn-group.horizontal button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.btn-group.vertical button:only-child, .btn-group.horizontal button:only-child {
    border-radius: 5px 5px 5px 5px;
}

/* https://www.w3schools.com/howto/howto_css_button_group_vertical.asp */
/* Clear floats (clearfix hack) */
.btn-group.horizontal:after {
    content: "";
    clear: both;
    display: table;
}
