html,
body {
    height: 100%;
    margin: 0;
    font-family: Proxima-Nova, sans-serif;
}

.monospace-text {
    font-family: Consolas, monospace;
}

.column-box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.row-box {
    display: flex;
    flex-flow: row;
    height: 100%;
}
/*
.column-box .row, .row-box .row {
    border: 1px solid red;
} */

.column-box .row.auto, .row-box .row.auto {
    flex: 0 1 auto;
}

.column-box .row.fill, .row-box .row.fill {
    flex: 1 1 auto;
}

.btn-group button {
    text-align: center;
    background-color: #eee;
    border: 1px solid #ddd;
    color: black;
    padding: 10px 0px; /* Some vertical padding */
    cursor: pointer; /* Pointer/hand icon */
}

.btn-group button.active {
    font-weight: bold;
    padding: 8px 0px;
    border: 3px solid #2196F3;
}

.btn-group button:disabled {
    opacity: 0.25;
}

.btn-group button:hover:not([disabled]) {
    background-color: #ddd; /* Add a background color on hover */
}

.btn-group.vertical button {
    display: inline-block; /* Make the buttons appear below each other */
}

.btn-group.vertical > .btn:first-child button{
    border-radius: 5px 5px 0px 0px;
}

.btn-group.vertical > .btn:last-child button {
    border-radius: 0px 0px 5px 5px;
}


.btn-group.horizontal button {
    float: left; /* Float the buttons side by side */
}

.btn-group.horizontal > .btn:first-child button {
    border-radius: 5px 0px 0px 5px;
}

.btn-group.horizontal > .btn:last-child button {
    border-radius: 0px 5px 5px 0px;
}

.btn-group.vertical > .btn:only-child button, .btn-group.horizontal > .btn:only-child button {
    border-radius: 5px 5px 5px 5px;
}

/* https://www.w3schools.com/howto/howto_css_button_group_vertical.asp */
/* Clear floats (clearfix hack) */
.btn-group.horizontal:after {
    content: "";
    clear: both;
    display: table;
}
