/* Make text more readable */
body, h1, h4, h5 {
    font-family: inherit;
}

/* Don't underline title */
.block-title a {
    color: #000;
    text-decoration: none;
}

.form-check {
    padding-left: initial;
}
