{% extends "layout.html" %}

{% block main %}

    {% block message %}{% endblock %}

    <form action="{{ url_for("post") }}" enctype="multipart/form-data" method="post">
        <div class="form-group" id="foo">
            FOO
            <div class="fallback">
                <input multiple name="files" type="file"/>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Compare</button>
    </form>

    <script>

        $(function() {

            Dropzone.autoDiscover = false;
            $('#foo').dropzone({
                autoProcessQueue: false,
                createImageThumbnails: false,
                forceFallback: true,
                init: function() {
                    var myDropzone = this;
                    this.on('sendingmultiple', function() {
                    });
                    this.on('successmultiple', function(files, response) {
                    });
                    this.on('errormultiple', function(files, response) {
                    });
                },
                method: 'post',
                paramName: 'files',
                uploadMultiple: true,
                url: '/'
            });

        });

    </script>

{% endblock %}
