<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="/static/favicon.png" rel="icon" type="image/png"/>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/toolkit-minimal.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <script src="/static/toolkit.min.js"></script>
        <script src="/static/clipboard.min.js"></script>

        <title>CS50 Forms</title>

    </head>

    <body>
        <div class="container p-3">
            <div class="block text-left">
                <h1 class="block-title mb-0"><a href="{{ url_for('get') }}">CS50 Forms</a></h1>
                <h4 class="mb-0">Add authentication to (and pre-fill) Google Forms.</h4>
                <h5 class="mb-3">
                    <small>Email <a href="mailto:sysadmins@cs50.harvard.edu">sysadmins@cs50.harvard.edu</a> about bugs (or lack of features).</small>
                </h5>
                {% block main %}{% endblock %}
            </div>
        </div>
    </body>

</html>
