{% extends "index.html" %}

{% block message %}
<div class="alert alert-danger border" role="alert">
    Respondents are already required to sign into Google for this form. To require respondents to authenticate via CS50 instead, edit the form as follows: open the form's settings (via the form's gear icon), uncheck any boxes under <strong>Requires sign in</strong>, and click <strong>SAVE</strong>; then try again here.
</div>
<script>

    $(function() {
        $('button').focus();
    });

</script>
{% endblock %}
