<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% for style in css %}
            <style>
                {{style|safe}}
            </style>
        {% endfor %}
    </head>
    <body>
        <div class="wrapper" id="page">
            <nav class="bg-dark text-center" id="sidebar">
                <div class="brand text-light">
                    <h4><a href="index.html" class="index-link">Compare50</a></h4>
                </div>
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    {% for name in names %}
                        <button type="button" class="btn btn-outline-light view_selector" id="{{name}}selector">{{name}}</button>
                    {% endfor %}
                </div>
            </nav>
            <div id="content">
                {% for match in matches %}
                    {{match|safe}}
                {% endfor %}
            </div>
        </div>

        <script>
            var DATA = {{data|tojson|safe}};
        </script>

        {% for script in js %}
            <script>
                {{script|safe}}
            </script>
        {% endfor %}
    </body>
</html>
