<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% for style in css %}
            <style>
                {{style|safe}}
            </style>
        {% endfor %}
    </head>
    <body>
        <div class="container-fluid h-100">
            {% for match in matches %}
                <!-- MATCH -->
                {{match|safe}}
            {% endfor %}
        </div>
        <!-- DATA -->
        {{data|safe}}

        {% for script in js %}
            <script>
                {{script|safe}}
            </script>
        {% endfor %}
    </body>
</html>
