<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" type="text/css" href="compare50.css">
    </head>
    <body>
        <div class="container">
            {% for sub, side in (sub_a, "left"), (sub_b, "right") %}
                <div class="split {{side}}" id="{{side}}">
                        <h2>{{sub[0]}}</h2>
                        {% for file, frags in sub[1] %}
                            <div class="submission-file">
                                <h4>{{file}}</h4>
                                <pre>
                                    {%- for id, contents in frags -%}
                                        <code class="fragment" id={{id}}>{{contents}}</code>
                                    {%- endfor -%}
                                </pre>
                            </div>
                        {% endfor %}
                    </div>
            {% endfor %}
        </div>
        <script>
            var FRAGMENT_TO_SPANS = {{fragment_to_spans|tojson|safe}};
            var SPAN_TO_GROUP = {{span_to_group|tojson|safe}};
        </script>
        <script src="compare50.js"></script>
    </body>
</html>
